<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css">
<!-- navbar -->
<div class="container1">
  <div class="item" id="item1">
  </div>
  <div class="item" id="item2">
    <div class="img">
      <img src="../assets/images/logo.png" alt="">
      <h3>Heyaband</h3>
    </div>
    <h2>
      WITH HEYABAND YOU 
      GET LOST IN THE MUSIC
    </h2>
    <p>Prepare Yourself to listen to our music.We are a music band focused on pop and rock</p>
    <button class="btn"> VIEW ALBUMS</button>
  </div>
  <div class="item" id="item3">
    <nav>
      <ul>
        <li><a href="#">Home</a></li>
        <li><a href="#">About</a></li>
        <li><a href="#">Tour</a></li>
        <li><a href="#">Album</a></li>
        <li><a href="#">Contact</a></li>
      </ul>
    </nav>
    <img src="../assets/images/Guitar.png" alt="">
  </div>
</div>


<!-- meet our member -->
<div class="container2">
  <div class="meet" id="meet_1"></div>
  <div class="meet" id="meet_2">
    <h1>MEET OUR MEMBER</h1>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Est, iure. Aperiam optio culpa sequi quae!
    </p>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Assumenda dolores corrupti earum dolore error iure unde doloribus repellendus laborum 
     
     </p>
     <div class="containerimg">
     <img src="../assets/images/meet.png" alt="">
    
     <div class="centered">
      <h1>John Geens</h1>
      <h3>Drummer</h3>
      <p>Aspired to be a drummer since childhood he achieved his dream now by becoming a drummer in Heya Band</p>
      <a href="https://www.facebook.com/sumit.chugh.9235/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://twitter.com/i/flow/signup" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/sumit-chugh-84b843203/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>

     </div>
    
    </div>
    </div>
  </div>
   
    
  


<!-- upcoming event -->

<div class="container3">
  <div class="up" id="up_1"></div>
  <div class="up" id="up_2">
    <h1>UPCOMING EVENT</h1>

    <p>
      Lorem ipsum dolor sit amet praesentium aperiam deleniti animi.
      Lorem, ipsum dolor.
      Lorem ipsum dolor sit amet 
      Lorem ipsum dolor sit amet.
    </p>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur et ipsum non, cupiditate dicta placeat vitae aspernatur laborum necessitatibus quae!
    </p>

    <div class="card-container">
      <div class="float-layout">
        <div class="card-image">
          <img src="https://rukminim1.flixcart.com/image/416/416/jql8fbk0/poster/k/t/b/medium-pwl-concert-black-white-wall-poster-13-19-inches-matte-original-imaek7ugrxzbtxkc.jpeg?q=70">
          <div class="card">
            <div class="card-title">
              
              <p>ROCK'N ROLL FESTIVAL  </p>
      
            </div>
            <div class="card-desc">
              <p>Las Vegas,LA</p>
             <!-- Las Vegas,LA &nbsp; &nbsp; 16/07/2021 -->
              <button class="btncard ">BUY TICKET NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="card-container">
      <div class="float-layout">
        <div class="card-image">
          <img src="../assets/images/cardimage1.jpeg">
          <div class="card">
            <div class="card-title">
              <p>SAN FRANSISCO MUSIC FESTIVAL  </p>
              <!-- SAN FRANSISCO MUSIC FESTIVAL &nbsp;  &nbsp;  &nbsp; $9.99-->
               </div> 
            <div class="card-desc">
        <p>San Fransisco,SF</p>
              <button class="btncard ">BUY TICKET NOW</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    

    <button class="btn">VIEW EVENT</button>
  </div>
</div>
  
<!-- Our Tours -->
<div class="tour">
  <div class="tours" id="tour_1"></div>
  <div class="tours" id="tour_2">
    <h1>OUR TOURS</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, accusamus.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, ipsum.
    </p>
    
   
  </div>
  <div class="tours" id="tour_3">
    <button>VIEW TOURS</button>
  </div>
</div>
<!-- forimage -->
<div class="margin">
  <!-- <img src="../assets/images/uk.png" alt=""> -->
</div>


<!-- music Albums -->
<div class="music">
  <div class="musical" id="music_1"></div>
  <div class="musical" id="music_2"> <h1>MUSIC ALBUMS</h1>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Debitis, accusamus.
      Lorem ipsum dolor sit amet consectetur, adipisicing elit. Commodi, ipsum.
    </p></div>
  <div class="musical" id="music_3"> 
    <button>VIEW ALL ALBUMS</button>
    <!-- <img src="../assets/images/musicalbum2.png" alt="">-->
    </div> 
</div>

<!-- music album part2 -->

<div class="musicalalbum2">
  <div class="musicalalbum" id="m_1"></div>
  <div class="musicalalbum" id="m_2">
    <!-- <a href="#"><i class="fa-regular fa-circle-play"></i></a> -->
  </div>
  <div class="musicalalbum" id="m_3">
    <img src="../assets/images/musicalbum2.png" alt="">
  </div>
</div>
<!-- latest news -->


<div class="latest">
  <div class="latests" id="latest_1">
   
  </div>
  <div class="latests" id="latest_2"> 
    <h1>LATEST NEWS</h1>
    <!-- <img src="../assets/images/elima.png" alt="">-->
    <button class="btn"> 
      VIEW ALL</button>
  </div>
  
</div>
<!-- SignUp For -->

<div class="signup">
  <div class="signups" id="signup_1"></div>
  <div class="signups" id="signup_2">

   
     
    
    <h1>SIGN UP FOR</h1>
  <h1>THE LATEST NEWS</h1>
  <p>Subscribe for free downloads and new updates</p>
<div class="buttonin">
  <input type="email" name="useremail" id=""
  placeholder="Enter your email address"
  
  >
  <button class="btn">SUBSCRIBE</button>
</div>
 
</div>
  </div>
  





<footer>
  <div class="footer">
    <div class="footers" id="footer_1"></div>
    <div class="footers" id="footer_2">
      <img src="../assets/images/logo.png" alt="" width="100px" height="100px"
      >
      <h3>Heyband</h3>
    </div>
    <div class="footers" id="footer_3"> <a href="https://www.facebook.com/sumit.chugh.9235/" target="_blank"><i class="fa-brands fa-square-facebook"></i></a>
      <a href="https://twitter.com/i/flow/signuptarge" target="_blank"><i class="fa-brands fa-twitter"></i></a>
      <a href="https://www.linkedin.com/in/sumit-chugh-84b843203/" target="_blank"><i class="fa-brands fa-linkedin"></i></a>
</div>
  </div>
</footer>

<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>
